

<ol>
  <li><h4>Check In</h4></li>
    <!-- <p>See how your players are doing, touch base and catch up</p> -->
  <li><h4>The schedule</h4></li>
    <!-- <p>when does the session start and end?
    when will you take a break? 
    what is the game duration? 
    will all your players be available for the full game?
     how long can you extend?</p> -->
  <li><h4>Set the game tone and player expectations</h4></li>
    <!-- <p>anything goes! pass me that saxophone... I feel a song comming on!</p>
      <p>turn off your phones and dim the lights this is a session of horror and survival</p>

    -->

  <li><h4>Introduce new rules or mechanics</h4></li>
    <!-- <p>small talk, banter, catch up</p> 
    -->

  <li><h4>Recap or intros</h4></li>
      <a href="#" >make a note</a>

  <li><h4>Turn-Order</h4></li>
    <!-- <p>write down the turn order, roll initiative, or pick a player and go clockwise</p> -->
      <a href="#" >make a note</a>

  <li><h4>Opening</h4></li>
      <a href="#" >make a note</a>
</ol>