<h1>Dm Tools</h1>

<h3>Quest Builder</h3>
<ul>
  <li><%= link_to "New Quest", new_quest_path() %></li>
</ul>

<h4>how to blerb</h4>
 <ul>Every great story has a few root elements</ul>
 <li>Villain.</li>  
  <p>The antagonist to frighten and push the heroes to their limits</p>
 <li>Location.</li>
  <p>The backdrop to frame their heroic deeds and stir their curiosity and wonder<p> 
 <li>Objective.</li>
  <p>Something to strive for a clear task to be completed at any cost</p>
 <li>Timer.</li>
 <p>Every decision and every round is critical when seconds count</p>


<%@quests.each do |q| %>
  <%=q.id%>

<% end %>


<!-- contenteditable="true" -->