<h1>Quest new </h1>

<!-- <%# pointer set bny show action%> -->
 
 <!--url_action points to fields-->
 <!--setting -> objective -> villian -> quest -> SHOW -->
 <!--in between it redirects back to Quest -->
 
<form action="/quests" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <label for="user_setting">Setting</label>
  <br>
    <input type="text" name="quest[setting]" id="user_setting">
  <br>
  <br>

  <label for="user_villain">Villain</label>
  <br>
    <input type="text" name="quest[villain]" id="user_villain">
  <br>
  <br>

  <label for="user_objective">Objective</label>
  <br>
  <input type="text" name="quest[objective]">
  <br>
  <br>
  <input type="submit" value="Next">
  <br>
  <br>
</form>




  <%= link_to "Home", root_url%><br><br>


