 
 <h1>Villain</h1>
   <ul>
    <%= @quest.villain%>
  </ul>
<h1>Objective</h1>
  <ul>
    <%= @quest.objective%>
  </ul>
<h1>Location</h1>
  <ul>
    <%= @quest.location%>
  </ul>
<h1>Timer</h1>
  <ul>
    <%= @quest.timer%>
  </ul>