
      <form action="<%=scene_url(scene)%>" method="post">
        <input name="authenticity_token"  type="hidden" value="<%= form_authenticity_token %>"/>
        <input type="hidden" name="_method" value="patch">
        
       
        <h3>Add a new component</h3>
        <label>Name</label>
        <!--may need to be custom_name -->
        <input type="text" name="component[name]" placeholder="your value here">
        <br>
        <label for="c_desc">Description</label>
        <br>
        <textarea name="component[description]" id="c_desc" cols="30" rows="5">
        </textarea>
        <br> 
 
        <label>this is a...</label>
        <select name="component[type]">
          <option value="creature">Creature</option>
          <option value="reward">Reward</option>
          <option value="active_effect">Active-Effect</option>
          <option value="special_mechanic">Special-Mechanic</option>
        </select>
        <br>
        <input type="submit" value="Add scene component">
      </form>
    <!-- <select name="city_id" id="city_id">
      <option name="component[alignment]" value="a threat">Harmful</option>
      <option value="1">Helpful</option>
      <option value="2">Neutral</option>
    </select> -->


