
<!--this show the templates for creatures to create new generations-->
<!--can i do this genericly with a catch all component view-->


<form action="/generate_component" method="post">
  <div>

  <%@encounter.rewards.each do |reward|%>
    <input type="text" name="reward[name]" value="<%=reward['name']%>"><br>
    <label for="description"></label>
    <textarea name="component[description]" id="description" cols="30" rows="4"><%=reward["description"]%></textarea>

  <br>
    <input type="hidden" name="reward[field_id]" value="<%=@encounter.id%>">  
    <input type="submit" value="generate more details">
  <%end%>
  </div>
</form>