<!-- depending on type we render a different partial-->
<p>blank show from component</p>

<%= link_to 'Back to Scene', scene_url(@component.scene) %>
<%@component.completion.each do |k, v| %>
<br>
<%="#{k} --> #{v}"%>
<br>
<br>
<% end %>
<br>