
<!--villain value->  comes from villains/_villain -->


<div>
  
  <% if villain.valid?%>
    <%= villain.name %>:
    
    <%= link_to "edit", edit_villain_url(villain) %>
  <%end %>


    <!-- full seperate form 
    <form action="<%#new_quest_field_url(quest.id)%>" method="get">
      <input type="hidden" name="field[type]" value="villain">
      <input type="submit" value="villain details">
    </form>
    -->
</div>
