<p>'Show 'trait show</p>






<%= @trait.attributes %> <br>
<p><%=params%></p>


<%= link_to 'back', field_url(@trait.field_id) %>
<!--<%# <%= link_to 'quest-show', quest_url(@field.quest_id) %> %> -->