<p>'Show 'trait show</p>

<%= @trait.attributes %> <br>
<p><%=params%></p>



<!-- only show this if the pointer is not empty
    otherwise we create traits through ther field_show action
-->

<!-- only show this if the pointer is empty-->
<%= link_to 'Field', field_url(@trait.field_id)%>
<!--<%# <%= link_to 'quest-show', quest_url(@field.quest_id) %> %> -->