<div>
  
  <% if objective.valid? %>
    <%= objective.name %>:
    
    <%= link_to "edit", edit_objective_url(objective) %>
  <%end %>
 

      <!-- full seperate form - 
    <form action="<%#new_quest_field_url(quest.id)%>" method="get">
      <input type="hidden" name="field[type]" value="objective">
      <input type="submit" value="objective details">
    </form>
    -->
    
</div>
