<div>
  
  <% if objective.valid? %>
    <%= objective.name %>:
    
    <%= link_to "edit", edit_field_url(objective) %>
  <%else %>

    <form action="<%=new_quest_field_url(quest.id)%>" method="get">
      <input type="hidden" name="field[type]" value="objective">
      <input type="submit" value="New Objective">
    </form>
    
  <%end %>
</div>
