<h3>Full view for Scenes</h3>

<%= link_to 'Back to Quest', quest_url(field.quest) %>
<br>
<h4><%=field.name%></h4>
<br>
  <%= render field.frames %>  
<br>
  <%= link_to 'New Frame', new_field_frame_url(field) %> 
<br>
scene components?
<br>
add components


<!-- 
  could genralize it into

  typee - specifics
  type add ins
  type context
  type outsiders and links

-->

