
<!--list of existing scenes -->
SCENE LIST
<ol>
 <%= render @scenes %>   <!--scenes/_scenes  is rendered for each scene-->

<li>
<form action=" <%=new_quest_scene_url(@quest.id)%>" method="get">
  <input type="hidden" name="scene[type]" value="scene">
  <input type="submit" value="Add New Scene">
  <!--link to fields/new action (with type scene) -->
</form>
 </li>
</ol>
<br>
