<% if user_signed_in? %> 
 <div> Greetings  this is a bug<%= current_user.email %> </div> 
 <!-- show quests/index-->
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
<h1>home page</h1>

<!DOCTYPE html>
<html>
  <head>
    <title>RPG Quest Generator</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>RPG Quest Generator</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Create a Quest</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Welcome to the D&D Campaign Generator</h2>
        <p>Use our tool to generate a unique and exciting campaign for your next D&D adventure!</p>
        <a href="#" class="btn">Create a Campaign</a>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>