<h1><%=@encounter.name %></h1>
<!-- if their are no models-->
<!-- what happens if there is one model for rewards but none for creatures?
    might need move logic to the form
-->
<%= render "components/lists_new" %>
<!-- else render /list_show-->






<% @encounter.completion.each do |k, v| %>
<%= "#{k} --> #{v} "%><br><br>
<%end  %>
<%= link_to 'Back to Quest', quest_url(@encounter.quest) %>




<!--top (desc room layout , room appeareance sights smells sounds)-->
<!--mid  creatures(with enemy/ally tags), encounter_timer, ongoing effects,  -->
<!--bottom  loot secrets, lore, creatures(neutral) -->