<h1><%=@encounter.name %></h1>

<h2></h2>

<ul>
  <%@encounter.completion.each do |k, v|%>
    <li><%=k%> -->  <%=v%></li>
  <%end %>
</ul>

<%= link_to 'Back to Quest', quest_url(@encounter.quest) %> 