

<label for="">Str</label>
<input type="text" maxlength="3" size="3">
<label for="">Dex</label>
<input type="text" maxlength="3" size="3">
<label for="">Con</label>
<input type="text" maxlength="3" size="3">

<br>
<label for="">Cha</label>
<input type="text" maxlength="3" size="3">
<label for="">Wis</label>
<input type="text" maxlength="3" size="3">
<label for="">Int</label>
<input type="text" maxlength="3" size="3">
<br>
<label for="">HP--</label>
<label for="">-ID-</label>
<label for="">--Def</label>
<br>
<!-- #render this X times where X is qauntity -->
<input type="text"  maxlength="3" size="3">
<input type="text" placeholder="A" maxlength="3" size="3">
<!-- -->
<input type="text"  maxlength="3" size="3">





