
<!--takes in one genratable object, a base(ie: field, quest, or component) and a list
  fills out a full [base][completion] param using the key list, obj, and base provided
 -->
<ul>
  

<%(key_list - object.hidden_keys).each do |key| %>
<li>
  <%value = object.completion[key] %>
  <label for=""><%= object.titleize_key(key)%></label><br>  
    <%if object.completion[key] == nil%>
      <textarea name="<%="#{base}[completion][#{key}]"%>" id="" cols="45" rows="1"></textarea>
    <%else %>
      <%= render "completions/completion_object", object: value, base: "#{base}[completion]", key: key%>
    <%end %>
</li>
  <br>
<%end%>
</ul>


