
<!--add a pass list to see what is rendered and what is genratable -->

<form action="">  <!--parent.child_type -->
  <!--pass in type and id's -->
  <input type="hidden" name="" id="">
  <input type="hidden" name="" id="">


<% object.each do |k, v| %>
    <% object_type = parent.child_type%>
    <% if v.is_a?(String) %>
      <% if v.length < 30 %>
        <input type="text" name="<%="#{object_type}[#{k}]"%>" value="<%=v%>" id="">
        <br>
      <%else%>
        <textarea name="<%="#{object_type}[#{k}]"%>" id="" cols="<%v.length%>" rows="5">
          <%=v%>
        </textarea>
      <%end  %>
    <%end %>
<%end %>

<!--if on generate_list  make this class specific  parent.pass_list -->
<br>
  <input type="submit">
  <br>
</form>
